<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset='utf-8' />
    <meta http-equiv='content-type' content='text/html; charset=utf-8' />

    <title>Bar charts with Bokeh!</title>
    <link
    href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.13.min.css"
    rel="stylesheet" type="text/css">
    <link
    href="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.13.min.css"
    rel="stylesheet" type="text/css">
    <link
    href="http://cdn.pydata.org/bokeh/release/bokeh-tables-0.12.13.min.css"
    rel="stylesheet" type="text/css">

    <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.13.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-widgets-0.12.13.min.js"></script>
    <script src="http://cdn.pydata.org/bokeh/release/bokeh-tables-0.12.13.min.js"></script>

    
<!--     <script src="http://cdn.pydata.org/bokeh/release/bokeh-0.12.13.min.js"></script>
    <link rel="stylesheet" href="http://cdn.pydata.org/bokeh/release/bokeh-0.12.13.min.css"> -->
    {{ css_resources|safe }}
    {{ js_resources|safe }}
    {{ the_script|safe }}

  </head>

  <body>
    <h1>{{ title }} Chart</h1>
    <!-- {{ the_script|safe }} -->
    {{ the_div|safe }}

    <p>end</p>
  </body>

</html>